/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3F92B3; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #36779D; 
  }
  
button:hover{
    background-color: red;
}
.weather{
    position: absolute;
    background-color: lavender;
    width: 185px;
    height: 10px;
    z-index: 2;
    margin-top: 170px;
    margin-left: 20px;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.cont{
   background-color:  rgba(0, 0, 0, .2);
   border-radius: 20%;
}
.homeImg2{
    margin-left: 20px;
    background-color:  rgba(0, 0, 0, .2);
}
.homeImg {
 
    background-size: cover;
    border-color: #6084A6;
}
.placeOf{
    position: absolute;
    left: 1170px;
    top: 18px;
    z-index: 1;
   
}
.titreStyle{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(6, 76, 0) !important;
    font-style: italic;
    box-shadow: 0 0 20px 20px white;
    background: radial-gradient(#28A745, #FCFCFC);
    padding: 3px;


}
.nav-item{
    padding-right: 7px !important;
    background-color: rgb(179.187,193) !important;
}
.liNav{
    color:  rgb(25, 59, 33);
    border-color:  rgb(40,167,69,0.6) !important;
    background-color: rgb(40,167,69,0.5) !important;
  
}
.liNav:hover{
    background-color: rgb(40,167,69,0.8) !important;
    color: white;
}

.notnumb{
    border-radius: 50%;
    background-color: mediumseagreen;
    text-align: center;
    font-size: smaller;
    width: 30px;
}
.hidden {
    display: none;
    background-color: lightslategrey;
    list-style-type: none;

  }
.visible:hover .hidden {
    display: block;
  }
.visible{
    list-style-type: none;
}
.users{
    position:relative;
    width: 100%;
    margin-left:1%;
}
.overCheck{
    overflow: hidden;

}
.join {
    background-color: rgb(40,167,69);
}
.comment{
    background-color: rgb(40,167,69);
}
.showUser{
    background-size: contain;
    background-color:  rgba(0, 0, 0, .3) ;
    max-width: 150px;
    min-width: 149px;
    border-radius: 30% !important;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.showUser:hover{
    background-color:rgb(237,187,30,.4);
}
.menu{
    background-color: rgba(33, 28, 29, 0.5) !important;
}
.signOut{
    position: absolute;
    margin-left: 1120px;
}
.underEvent{
    background-color: #3E3F41;
    width: 100%;
    height: 100%;
    opacity: 0.5;
   position: -webkit-sticky;
}
.adjustMargin{
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    background-color: rgba(0, 0, 0, .3) ;
}
.adjustMargin:hover{
    background-color:rgb(237,187,30,.3);
    
}
.hid_class{
    
    display: none;
    font-size: larger;
}
.fix_div{
    display: flex;
   overflow-y: scroll;
}

.fback{
    background-image:url('../img/login.PNG') ;
  
    
}
.ExerBack{
    background-image:url('../img/cc.png') ;
    background-size: contain;
    
}
.card-columns {
   
    column-count: 4;
}
.fixSize{
    border-radius: 50%;
    border: black 2px ;
}
.backim{
    overflow: hidden;
    position: relative;
    
}
.backim .parallax-bg2{
    color: wheat;
    background-image:url('../img/gh.jpg') ;
    background-attachment: fixed;
    /*background-attachment: scroll;*/
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: 0px 20px;
    background-repeat: no-repeat;
    height: 100%;
    position: absolute;
    width: 100%;
    min-width: 2970px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

}
.friendImg{
    overflow: hidden;
    position: relative;
}
.friendImg .parallax-bg3{
    color: wheat;
    background-image:url('../img/login.PNG') ;
    background-attachment: fixed;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    background-position: 0px 20px;
    height: 100%;
    position: absolute;
    width: 100%;
    min-width: 1170px;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;

}
.backImg{
    overflow: hidden;
    position: relative;
}
.backImg .parallax-bg{
    color: wheat;
    background-image:url('../img/backMain.jpg') ;
    background-attachment: fixed;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: 0px 20px;
    background-repeat: no-repeat;
    height: 100%;
    position: absolute;
    width: 180%;
    min-width: 2970px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

}
.testborder{
   
    width: 50%;
    background-color: rgba(0, 0, 0, .4) ;
    color:lavender;
}
.testborder2{
    background-color: transparent;
    color: #E3F7F8;
    font-size: x-large;
}
.card{
    /*background-image: url('../img/bb2.jpg') ;*/
  /* background-color: #36647B;*/
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-style: italic;
    background-position: center;
    background-size:cover;
    border-style: none;
}
.placeOfBtn{
    margin-right: 20 ;
    margin-bottom: 0;
}
.circle2{
    border-radius: 50%;
    background-color: #36647B;
}
.eventCSS{
    border-style: none;
    font-family: 'Times New Roman', Times, serif;
 
}
.eventCSS2{
    background-color: #FCDFD7;
    border-style: none;  
}
.homeContainer{
    border-style: none;
}


.cardHome{
    border-style: none;
}

.newDiv{
    overflow: auto;
}
.sizeBox{
    max-width: 540px;
    background-color: rgb(181, 58, 18 , .4);
    margin-top: 5px;
}
.userShow{
    color: #3E3F41;
}

.imgCont{
    width: 100;
    height: 100;
    background-color: lightcoral;
}
.card2{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
   /* border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;*/
    margin-left: 0;
    margin-right: -2;
}
.JoinPr{
    position: relative;
    top: 0px;
    right: 0px;
    width: 50;
    height: 70;
}
.text_place{
    text-align: center;
}
.loginImg {
    background-image: url('../img/login.PNG');
    background-size: initial;
}
.numPlace{
    text-align: center;
    background-color: rgb(253,110,6, .4);
}
.signup{
    background-image: url('../img/signup.jpg');
    background-size: contain;
}
.myform{
        background-color: antiquewhite;
}
.btn-block{
    background-color: rgb(96, 132, 166);
}


.user_profile > div > header > div{
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px
}
.user_profile > div > header nav .sigle img{
    width: 220px;
    height: 45px
}
.user_profile > div > header nav .search_box{
    width: 500px;
}
.user_profile > div > header nav .search_box .input-group{
    width: 100%;
    border-radius: 100px;
    padding: 3px;
    border: #fb95b6 1px solid;
}
.user_profile > div > header nav .search_box .input-group .form-control, 
.user_profile > div > header nav .search_box .input-group .input-group-text{
    background-color: transparent;
    border: none;
}
.user_profile > div > header nav .search_box .input-group .input-group-text img{
    width: 25px;
    height: 25px;
}
.user_profile > div > header nav .menu_icon{
    padding-top: 10px
}
.user_profile > div > header nav .menu_icon img{
    width: 40px;
    height: 25px;
    cursor: pointer
}
.user_profile > div > header nav .search_box .input-group .form-control::-webkit-input-placeholder { 
    color: #fb95b6;
}
.user_profile .user_profile_content{
    background-color: #ebebeb;
}
#user_side_bar{
    width: 280px;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
#user_side_bar header > div{
    height: 350px;
    background-color: #b1002a;
    position: relative;
    margin: 0px;
   /* background-image: url('../img/user_profile.png');*/
    background-size: 100% 100%;
    padding: 10px
}
#user_side_bar header input{
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 100px;
    background-color: white;
    color: #875090;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer
}
#user_side_bar header .drop_down > div{
    position: relative
}
#user_side_bar header .drop_down > div > .icon{
    width: 35px;
    height: 35px;
    cursor: pointer
}
#user_side_bar section{
    padding: 12px;
    margin-top: 20px
}
#user_side_bar section .label{
    color: #5f5f5f;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
}
#user_side_bar section .description{
    color: grey;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    margin-top: 12px
}
#user_side_bar section a{
    color: #ed0051;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold
}
#user_side_bar footer{
    padding: 12px
}
#user_side_bar footer > div{
    margin: 0px
}
#user_side_bar footer .item{
    margin-bottom: 20px
}
#user_side_bar footer .item .label{
    color: #b1b1b1;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: bold
}
#user_side_bar footer .item .content{
    color: black;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: bold
}
.user_profile > div > header footer{
    padding: 12px;
}
.user_profile > div > header footer .user_name{
    color: white;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold
}
.user_profile > div > header footer .job{
    color: #97839e;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
.user_profile > div > header footer .social_media{
    padding-top: 15px
}
.user_profile > div > header footer .social_media img{
    width: 35px;
    height: 35px;
    display: inline-block;
    margin-left: 12px
}
.user_profile .user_profile_content{
    padding-left: 400px;
    padding-right: 50px;
    padding-top: 15px;
    min-height: 700px
}
.user_profile .user_profile_content .nav_bar{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.user_profile .user_profile_content .nav_bar .nav_bar_item{
    display: inline-block;
    text-align: center;
    color: black;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer
}
.user_profile .user_profile_content .nav_bar .nav_bar_item + .nav_bar_item{
    border-left: #e6e6e6 1px solid
}
.user_profile .user_profile_content .nav_bar .nav_bar_item:hover{
    background-color: #e6e6e6
}
.user_profile .user_profile_content .nav_bar .nav_bar_item .icon{
    width: 25px;
    height: 25px;
    display: block;
    margin: auto
}
.user_profile .user_profile_content .user_info_item{
    margin-top: 25px
}
.user_profile .user_profile_content .user_info_item header{
    background-color: #f5f5f7;
    border: #d2d4da 1px solid;
    height: 60px;
}
.user_profile .user_profile_content .user_info_item header > div{
    padding-top: 13px;
    padding-left: 15px;
    padding-right: 15px
}
.user_profile .user_profile_content .user_info_item header .icon{
    float: left;
    width: 35px;
    height: 35px;
}
.user_profile .user_profile_content .user_info_item header .label{
    color: #4d4e57;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding-top: 6px;
    padding-left: 12px
}
.user_profile .user_profile_content .user_info_item{
    background-color: white;
    border: #d2d4da 1px solid;
    min-height: 500px;
}
.user_profile .user_profile_content .user_info_item .item{
    padding-top: 15px;
    padding-bottom: 25px;
    border-bottom: #d2d4da 1px solid;
    margin-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px
}
.user_profile .user_profile_content .user_info_item .item .icon img{
    width: 25px;
    height: 25px;
    border-radius: 100%
}
.user_profile .user_profile_content .user_info_item .item .label{
    color: #4d4e57;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: bold
}
@media(min-width: 900px){
    #user_side_bar{
        position: absolute;
        top: 100px;
        left: 100px;
        z-index: 5000;
    }
    .user_profile > div > header{
       /* background-image: url('../img/user_profile.png');*/
        background-size: 500px 350px;
        background-repeat: no-repeat;
        background-position-x: 100%                        
    }
    .user_profile > div > header > div{
        position: relative;
        height: 300px;
    }
    .user_profile > div > header footer{
        margin-top: 100px
    }
}
@media(max-width: 900px){
    .user_profile > div > header nav .search_box{
        display: none
    }
    .user_profile > div > header nav .sigle img{
        width: 100px;
        height: 35px;
    }
    .user_profile > div > header{
        background-size: 100% 100%;
    }
    .user_profile > div[class*=col-]{
        padding: 0px
    }
    #user_side_bar{
        left: 0;
        right: 0;
        width: 100%
    }
    .user_profile > div > header footer{
        margin-top: 20px
    }
    .user_profile .user_profile_content{
        padding-left: 15px;
        padding-right: 15px;
    }
    .user_profile .user_profile_content{
        padding: 25px
    }
    .user_profile .user_profile_content .nav_bar .nav_bar_item{
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        cursor: pointer;
        border: #e6e6e6 1px solid;
        margin: 2px
    }
}